@model IEnumerable<artiktamam.Models.Users_Tablo>

@{
    ViewBag.Title = "Index";
}
<h1 style="text-align:center">Kullanıcı Sil</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAdres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoleId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAdres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRoleId)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
