@model artiktamam.Models.SatinalinanlisteleViewModel

@{

}
<div>



    <table class="table" style="margin-top:20px;margin-left:-170px" >
        <thead>
            <tr>
                <td> Block_No </td>
                <td> Musteri_Adi </td>
                <td> Arabanin_Markasi </td>
                <td> Arabanin_Modeli </td>
                <td> Arabanin_Fiyati </td>
                <td> Siparis_Kodu </td>
                <td> Satin_Alma_Zamani </td>
                <td style="width:100px !important;overflow:auto" > Prev_Hash </td>
                <td width="100"> Hash </td>
            </tr>

        </thead>
        <tbody>

            @foreach (var item in Model.block)
            {
                if (item.Hash != "00000000000000000000000000000000000000000000000000000000")
                {
                    if (item.changed == 0)
                    {
                        <tr id="firstTr" style="background-color:red">

                            <td> @item.BlockNo </td>
                            @foreach (var item2 in item.Data)
                            {

                                <td> @item2.MusteriAdi </td>
                                <td> @item2.ArabaninMarkasi </td>
                                <td> @item2.ArabaninModeli </td>
                                <td> @item2.ArabaninFiyati </td>
                                <td> @item2.SiparisKodu </td>
                                <td> @item2.SatinAlmaZamani </td>
                            }
                            <td> @item.PrevHash </td>
                            <td> @item.Hash </td>
                        </tr>

                 
                    }
                    else
                    {
                        <tr>

                            <td> @item.BlockNo </td>
                            @foreach (var item2 in item.Data)
                            {

                                <td> @item2.MusteriAdi </td>
                                <td> @item2.ArabaninMarkasi </td>
                                <td> @item2.ArabaninModeli </td>
                                <td>₺@item2.ArabaninFiyati </td>
                                <td> @item2.SiparisKodu </td>
                                <td> @item2.SatinAlmaZamani </td>
                            }
                            <td> @item.PrevHash </td>
                            <td> @item.Hash </td>
                        </tr>
                    }

                }

            }


        </tbody>




    </table>
    <div class="row" style="text-align:center">
        <div class="col-lg-12">
            <a href="/admin/yenile" class="btn btn-danger" style="text-align:center"> Database Update</a>
        </div>
        <div class="col-lg-12">
            <b style="font-size:12px;color:dimgrey">Bu buton zinciri yok edip yeniden oluşturur</b>
        </div>
        <div class="col-lg-12" style="margin-top:80px">
            <a href="/admin/gecmisSiparisSil" class="btn btn-danger" style="text-align:center"> Database Reset</a>
        </div>
        <div class="col-lg-12">
            <b style="font-size:12px;color:dimgrey">Tüm Geçmiş Verileri Resertler.</b>
        </div>
    </div>
  
</div>
